div.homePictures{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    background-image: url("https://cdn.wallpapersafari.com/35/52/VKXjNy.jpg");
    background-size: 100%;
    padding-top: 75px;
}
#individualFamilies{
    width: 22%;
    margin: .3%;
}
a{
    text-decoration: none;
}

#individualFamilies:hover #namePlaque{
    width: 101%;
    text-decoration: underline;
    text-decoration-color: black;

}

#individualFamilies:hover img{
    box-shadow: 10px 10px 10px black;
    width: 101%;
}

img{
    margin-top: 2%;
    width: 100%;
}


#namePlaque{
    width: 100%;
    color: black;
}

@media only screen and (max-width: 800px) {
    #individualFamilies{
        width: 45%;
    }
  }
