div.homePictures{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    background-image: url("https://cdn.wallpapersafari.com/35/52/VKXjNy.jpg");
    background-size: 100%;
}
img{
    width: 30%;
    margin-top: 2%;
}