:root{
    --beige: #c0b8a8;
    --blue: #60827c ;
    --red: #b76f6d ;
    --green: #6a7642;
    --lightBlue: #a4bdb0;

}
@font-face {
    font-family: fancyFont;
    src: url(../util/FhaModifiedTuscanRomanNcv-qqGV.ttf);
}
@font-face {
    font-family: standardFont;
    src: url(../util/FhaCondensedFrenchNc-O2n3.ttf);
}
h1{
    font-family: fancyFont;
    text-align: center;
    margin: 1%;
    color: #6e1919;
}
h2{
    font-family: standardFont;
}
p{
    font-family: serif;
}

.single-family{
    display: flex;
    flex-direction: column;
    background-image: url("https://cdn.wallpapersafari.com/35/52/VKXjNy.jpg");

    background-size: 100%;
    align-items: center;
    min-height: 100vh;
}

.famName-famPhoto{
    margin-top: 80px;
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}
#famName-box{
    background-color: var(--beige);
    border: groove var(--red) 6px;
    box-shadow: #6e1919 1px 1px 25px inset;
    border-radius: 6px;
    margin-top: 1%;
}
#famName{
    width: fit-content;
}
#famPhoto{
    width: 50%;
}
@media only screen and (max-width: 900px) {
    #famPhoto{
        width: 40%;
    }
    div.card{
        margin: 0%;
    }
    div.list-group-item{
        flex-direction: column;
        margin: 0%;
    }
  }

.husband-wife-card{
    display: flex;
    justify-content: center;
    width: 86%;
}
div.list-group-item{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    background-color: transparent;
    justify-content: space-between;
    white-space: pre-wrap;
}
div.card{
    width: 45%;
    background-color: var(--lightBlue);
    border: groove var(--green) 6px;
    box-shadow: var(--blue) inset 5px 5px 76px;
    margin: 1%;
}

div.description{
    width: 75%;
}
